/**
 * Alliance theme for reveal.js.
 * Author: Michael Glaesemann
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
//@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);


/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

$mainFont: "Univers", sans-serif;
$headingFont: "Univers-Bold", sans-serif;
$heading1Size: 8em;
$heading2Size: $heading1Size;
$heading3Size: $heading1Size;
$heading4Size: $heading1Size;

$headingTextTransform: normal;
$darkBackground: #022;
$greenColor: rgba(56, 255, 220, 0.9);

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3; // why is this getting picked up?
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: $greenColor;
$headingColor: $greenColor;
$headingTextShadow: 0 0 4px rgb(45,255,220);
$backgroundColor: $darkBackground; // $base3;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal code, .reveal pre { font-family: Menlo; }
